<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LazizMU Nitikan</title>
	<link rel="stylesheet"  href="css/style.css">
	<link rel="stylesheet"  href="css/responsive.css">
	<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	<header>
		<div class="header-left">
			<img src="images/logo-lazizmu.png" alt="logo" class="header-logo">
		</div>
		<div class="header-right">	
			<ul>
				<li><a href="">Beranda</a></li>
				<li>
					<a href="">Tentang Kami</a>
					<ul>
						<li><a href="">Latar Belakang</a></li>
						<li><a href="">Tim Kami</a></li>
						<li><a href="">Kebijakan Mutu</a></li>
						<li><a href="">Kebijakan Strategis</a></li>
						<li><a href="">Kantor Lazizmu</a></li>
						<li><a href="">Kontak Kami</a></li>
					</ul>
				</li>
				<li>
					<a href="">Program</a>
					<ul>
						<li><a href="">Pendidikan</a></li>
						<li><a href="">Kesehatan</a></li>
						<li><a href="">Ekonomi</a></li>
						<li><a href="">Dakwah</a></li>
						<li><a href="">Sosial Kemanusiaan</a></li>
					</ul>
				</li>
				<li><a href="" class="zakat-now">Zakat Now</a></li>
				<li><a href="">Masuk</a></li>
			</ul>
		</div>
		<div class="header_drpdwn">
			<ul>
				<li></li>
			</ul>
		</div>
	</header>
	<!-- <header>
		<div class="container">
			<div class="header-left">
				<img class="header-logo" src="assets/logo-lazizmu.png">
			</div>
			<span class="fa fa-bars menu-icon"></span>
			<ul class="nav">
				<li><a href="">Beranda</a></li>
				<li><a href="">Tentang Kami</a></li>
				<li><a href="">Program</a></li>
				<li><a href="">Masuk</a></li>
				<li><a href="">ZIS</a></li>
				<li><a href="">AmbulanMU</a></li>
			</ul>
		</div>
	</header> -->

	<div class="wrapper">
		<div class="prev-btn"><i class="fas fa-chevron-left"></i></div>
  
		<div class="slides-container">
		  <div class="slide-image">
			<img src="images/Campaign-Program-Donasi-Pendidikan-Panti.jpg" alt="" />
		  </div>
  
		  <div class="slide-image">
			<a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">
				<img src="images/Campaign-Program-Donasi-Pendidikan-Panti.jpg" alt="" />
			</a>
		  </div>
  
		  <div class="slide-image">
			<img src="images/Campaign-Program-Donasi-Pendidikan-Panti.jpg" alt="" />
		  </div>
		</div>
  
		<div class="next-btn"><i class="fas fa-chevron-right"></i></div>
	  </div>
  
	  <div class="navigation-dots position"></div>

	  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col first">
					<img src="images/logo-lazizmu.png" alt="logo-lazizmu">
                    <p>
						LAZISMU adalah lembaga zakat tingkat nasional yang berkhidmat dalam pemberdayaan masyarakat melalui pendayagunaan secara produktif dana zakat, infaq, wakaf dan dana kedermawanan lainnya baik dari perseorangan, lembaga, perusahaan dan instansi lainnya.
					</p>
					<!-- <ul>
                        <li><a href="">about us</a></li>
                        <li><a href="">our services</a></li>
                        <li><a href="">privacy policy</a></li>
                        <li><a href="">affiliate program</a></li>
                    </ul> -->
                </div>
                <div class="footer-col">
                    <h4>Program</h4>
                    <ul>
						<% footer_1.forEach((item) => { %>
							<li><a href="<%= item.link %> "><%= item.name %> </a></li>
						<% }); %>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Info</h4>
                    <ul>
						<% footer_2.forEach((item) => { %>
							<li><a href="<%= item.link %> "><%= item.name %> </a></li>
						<% }); %>
                    </ul>
                </div>
				<div class="footer-col">
					<h4>Kontak</h4>
					<ul>
						<li><a href="https://www.google.com/maps/place/Masjid+Muthohhirin/@-7.8250972,110.3818045,17z/data=!3m1!4b1!4m5!3m4!1s0x2e7a5708b13c18bd:0x4ad0286e61e9edae!8m2!3d-7.8251025!4d110.3839932?hl=id" target="_blank"><i class="fa fa-home"></i>Jl Sorogenen 63 </a></li>
						<li><a href=""><i class="fa fa-phone"></i>089-908-5500-6</a></li>
						<li><a href=""><i class="fa fa-envelope"></i>Lazizmu@gmail.com</a></li>
					</ul>
					
						<div class="social-links">
							<a href="" class="whatapp"><i class="fab fa-whatsapp"></i></a>
							<a href="" class="facebook"><i class="fab fa-facebook"></i></a>
							<a href="" class="instagram"><i class="fab fa-instagram"></i></a>
						</div>
				
                <!-- <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
						<a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>

	<script type="text/javascript" src="main.js"></script>
	
</body>
</html>